################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/graphql-console/.vs/graphql-console/v16/Server/sqlite3
